.modelWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
  /* background-color: rgb(175, 172, 172); */
  background-color: white;
}

.model {
  border: 1px solid black;
  padding: 1rem;
  margin: 10px;
  border-radius: 16px;
  background-color: rgb(216, 213, 213);
  position: relative;
  overflow: hidden;
}

.CloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px rgb(119, 114, 114);
  background-color: rgb(112, 111, 111);
}
