header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f6f8fa;
  z-index: 1;
  opacity: 0.94;
}
.btnToggle {
  display: none;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li {
  padding: 8px;
}

header ul li input {
  padding: 1px 2px;
}

main {
  min-height: calc(100vh - 40px);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
}

.dashboardButton {
  border: 1px solid rgb(65, 14, 124);
  font-size: 1.1rem;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: blue;
  background-color: rgb(191, 193, 196);
}

.searchInput {
  border-radius: 20px;
  border: none;
  background-color: white;
  color: grey;
}
.inputsearchSmallDevice {
  display: none;
}

@media (max-width: 364px) {
  header ul li input {
    width: 50%;
  }
}

@media (max-width: 1250px) {
  .btnToggle {
    display: block;
  }
}

@media (max-width: 570px) {
  .inputsearchSmallDevice {
    display: block;
  }
  .searchInput {
    display: none;
  }
}
